In [29]:
import numpy as np
import pandas as pd
car_sales_missing= pd.read_csv("data/car-sales-extended-missing-data.csv")

In [30]:
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [33]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [34]:
missing_values_count = car_sales_missing.isnull().sum()
missing_values_count[0:10]

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [35]:
total_cells = np.product(car_sales_missing.shape)
total_missing = missing_values_count.sum()
total_cells,total_missing

(5000, 249)

In [39]:
# 1. Drop missing values

columns_with_na_dropped = car_sales_missing.dropna(axis=1)
columns_with_na_dropped.head()

# In this case,each column has missing values. so it looks like that's removed all our data!!

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [40]:
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [41]:
# 2. Filling in missing values automatically

# replace all NA's with 0

car_sales_filled = car_sales_missing.fillna(0)

In [42]:
car_sales_filled.isnull().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [43]:
car_sales_filled

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996       0  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [44]:
# replace all NA's the value that comes directly after it in the same column, 
# then replace all the remaining na's with 0car_sales_filled = car_sales_missing.drop(car_sales_missing.index[9])

car_sales_filled_same  = car_sales_filled.fillna(method = 'bfill',axis =0).fillna(0)
car_sales_filled_same

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996       0  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [45]:
from sklearn.model_selection import train_test_split
# split into X and Y


X = car_sales_missing.drop("Price",axis = 1)

y = car_sales_missing["Price"]

# Split data into train and test

np.random.seed(42)
X_train, X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2)

In [46]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

cat_imputer = SimpleImputer(strategy="constant",fill_value="missing")
door_imputer = SimpleImputer(strategy="constant", fill_value=4)
num_imputer = SimpleImputer(strategy="mean")

cat_features = ["Make","Colour"]
door_feature = ["Doors"]
num_features = ["Odometer (KM)"]

imputer = ColumnTransformer([("Cat_imputer",cat_imputer,cat_features),
                            ("door_imputer", door_imputer, door_feature),
                            ("num_imputer", num_imputer, num_features)])

filled_X_train = imputer.fit_transform(X_train)
filled_X_test = imputer.transform(X_test)

In [60]:
car_sales_filled_train= pd.DataFrame(filled_X_train,
                               columns=["Make","Colour","Odometer (KM)","Doors"])

car_sales_filled_test = pd.DataFrame(filled_X_test,
                               columns=["Make","Colour","Odometer (KM)","Doors"])

In [64]:
car_sales_filled_train.isnull().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
dtype: int64

In [63]:
car_sales_filled_test.isnull().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
dtype: int64

In [74]:
y_train = y_train.fillna(method = 'bfill',axis =0).fillna(0)
y_test = y_test.fillna(method ='bfill',axis = 0).fillna(0)
y_train,y_test

(29     13586.0
 535    35683.0
 695    16285.0
 557    22825.0
 836    20938.0
         ...
 106    13283.0
 270     9379.0
 860     5922.0
 435     8753.0
 102     7404.0
 Name: Price, Length: 800, dtype: float64,
 521    13707.0
 737    12650.0
 740    19500.0
 660    41294.0
 411    41294.0
         ...
 408    10855.0
 332     6460.0
 208    33077.0
 613     8164.0
 78      6502.0
 Name: Price, Length: 200, dtype: float64)

In [70]:
# Now let's one hot encode the features with the same code as before 
# Fill missing values with Scikit-Learn

from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

# Fill categorical values with 'missing' & numerical values with mean
cat_imputer = SimpleImputer(strategy="constant", fill_value="missing")
door_imputer = SimpleImputer(strategy="constant", fill_value=4)
num_imputer = SimpleImputer(strategy="mean")


categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder(handle_unknown='ignore')
transformer = ColumnTransformer([("one_hot", 
                                 one_hot, 
                                 categorical_features)],
                                 remainder="passthrough")

# Fill train and test values separately

transformed_X_train = transformer.fit_transform(car_sales_filled_train)
transformed_X_test = transformer.transform(car_sales_filled_test)

# Check transformed and filled X_train
transformed_X_train.toarray()

array([[0., 0., 0., ..., 0., 0., 4.],
       [0., 0., 0., ..., 0., 0., 4.],
       [0., 0., 0., ..., 0., 0., 4.],
       ...,
       [0., 0., 0., ..., 0., 0., 4.],
       [0., 1., 0., ..., 0., 0., 4.],
       [0., 1., 0., ..., 0., 0., 4.]])

In [73]:
np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()

# Make sure to use transformed (filled and one-hot encoded X data)
model.fit(transformed_X_train, y_train)
model.score(transformed_X_test, y_test)

0.1783500632355456

In [72]:
# Check length of transformed data (filled and oCne-hot encoded)
# vs. length of original data
len(transformed_X_train.toarray())+len(transformed_X_test.toarray()),len(car_sales_missing)

(1000, 1000)